*{
    margin: 0px;
    padding: 0px;
}

.nav-bar{
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    display: inline-block;
}

#top{
    display: inline-block;
    padding: 10px 10px;
}

#countdown{
    display: inline-block;
    float: right;
    padding: 10px 10px;
}
/* End of NavBar */
#question{
    text-align: center;
    padding-top: 120px;
    font-size: 24px;
}

#choices{
    text-align: center;
    font-size: 30px;
}

li{
    padding: 10px 10px;
}

#answers{
    text-align: center;
    width: 100%;
    
}

#bottom{
    text-align: center;

}

#container{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
.answersLi{
    margin-top: 20px;
    font-weight: 500;
    font-size: 32px;
    height: 50px;
    width: 25%;
    background-color: #AB5CAE;
    display: table;
    margin: 0px auto;
    text-align: center;
    align-content: center;
}
hr{
    width: 75%;

}

.inputCSS{
    width: 300px;
    height: 30px;
    margin-top: 30px;
}

#final-form{
    display: none;
    width: 100%;
    text-align: center;
}